@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    #login {
        width: 80vw;
        display: flex;
    }

    #login > #img {
        width: 70vw;
        height: 100vh;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 90vw;
        display: flex;
    }

    #login > #img {
        width: 80vw;
        height: 100vh;
    }
}